transformers==4.46.0
wandb
webdataset
omegaconf
pyarrow
pandas
jaxtyping
diffusers==0.32.2
typeguard
accelerate
deepspeed
lightning
datasets
image-reward
torchmetrics==1.6.2
clip @ git+https://github.com/openai/CLIP.git
trl==0.17.0
math_verify 
gradio>=4.44.1